.ql-toolbar, .ql-snow{
    border: 0px !important; /*retirei a borda default do quill*/
}

#dropFile{
    border: 1px dashed #c2c2c2;
    border-radius: 30px;
    padding: 80px;
    text-align: center;
    color: #c2c2c2;
}

.genericCover{
    background-color: black;
    width: 300%;
    height: 150px;
    color: white;
    margin: 3%;
    text-align: center;
}