body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.hero{
    height: 100vh;
    background-color: #DEDEDE;
}

.menu-superior{
    height: 15vh;
    background-color: white;
}

.corpo{
    height: 85vh;
    background-color: #DEDEDE;
    display: flex;
}

#sub{
    display: block;
}