.menu-abas{
    height: 7.5vh;
    background-color: #F4F4F4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-abas-container-esquerda{
    display: flex;
    width: 10%;
}

.menu-abas-container-centro{
    display: flex;
    width: 50%;
}

.menu-abas-container-direita{
    display: flex;
    align-items: center;
    width: 30%;
}
.icon-voltar, .icon-salvar{ 
    margin: 0 5%;
}

.aba{
    padding: 0 15%;
    font-size: 16px;
    color: #4B4C4E;
}
.aba-ativa{
    color: #000;
}
/*.aba-ativa-fundo{
    position: absolute;
    height: 7vh;
    width: 200px;
    border-radius: 2px;
    background-color: white;
}*/

.perfil-icon{
    height: 3.5vh;
    width: 3.5vh;
    border: 1px solid  #3E495E;;
    border-radius: 50px;
    background-color:  #3E495E;;
}
.itens-direita{
    margin: 0 2%;
}