.editor-col {
    background-color: #c2c2c2;
    padding: 2%;
}

#editor_area {   
    background-color: #fff;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    padding: 10px 20px;
}
#editor_container {
    width: 99%;
    padding: 0;
    border: 0;
}

.vh100{
    height: 100vh;
}

.fullheight{
    height: 100vh !important;
}

.book{
    width: 220px;
    height: 321px;
    background-color: #c4c4c4;
}

.capa-pronta{
    height: 161px;
    background-color: #c4c4c4;
}

.page{
    width: 637px;
    height: 954px;
    background-color: #c4c4c4;
}